.conteiner {
    width     : 661px;
    height    : 763px;
    background: #C4C4C4;
    padding   : 62px;
}

.body__conteiner {
    margin: 0 auto;
}

.search-content__list-name {
    margin-top: 20px;
}

.list-name__item {
    border       : 1px solid chartreuse;
    background   : white;
    cursor       : pointer;
    font-size    : 30px;
    padding      : 10px;
    margin-bottom: 5px;
}

.errorLimit {
    font-size : 20px;
    background: #d61a1a;
    padding   : 15px;
    display   : inline-block;
    color     : whitesmoke;
    width     : 500px;
}

.noSearch {
    font-size : 20px;
    background: #897373;
    padding   : 15px;
    display   : inline-block;
    color     : whitesmoke;
    width     : 500px;
}

.search-content__form-search {
    display       : flex;
    flex-direction: column;
    width         : 200px;
}

label {
    padding-bottom: 15px;
}

.conteiner__result {
    margin-top: 70px;
}

.result__item {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    border         : 1px solid #523232;
    background     : darkseagreen;
    padding        : 10px;
    margin-bottom  : 5px;
}

.result-item__content {
    font-size: 20px;
}

.result__item {
    position: relative;
}

/* стили для крестика */
.close {
    position: absolute;
    right   : 32px;
    top     : 32px;
    width   : 32px;
    height  : 32px;
    opacity : 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position        : absolute;
    left            : 13px;
    content         : ' ';
    height          : 33px;
    width           : 2px;
    background-color: #333;
    margin-top      : -18px;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}